<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="./css/styles.css">
    </head>
    <body>
        <div>
         {{>header}}
         <p>This site was created by siddhant and vritant. It uses data from weather stack.</p>
        <img class="portrait" src="/img/us.jpg">
        <p>created by {{name}}</p>
        </div>
        {{>footer}}
    </body>
</html>